fastapi==0.104.1
uvicorn==0.24.0
sqlalchemy==2.0.23
pydantic==2.7.3
pydantic[email]==2.7.3
psycopg2-binary==2.9.9
psycopg[binary]==3.1.10
python-dotenv==1.0.0
alembic==1.13.1
email-validator==2.1.0
python-multipart==0.0.6
asyncpg==0.28.0
pydantic-settings
aiosmtplib
jinja2
redis
psutil-7.0.0

# Authentication & Security
passlib[bcrypt]==1.7.4
pyjwt==2.8.0
python-multipart==0.0.6
cryptography==41.0.7
# OAuth dependencies
authlib==1.2.1
httpx==0.25.2

# Testing
##Unit
pytest==7.4.3
pytest-asyncio==0.21.1
pytest-cov==4.1.0
pytest-mock==3.11.1
aiosqlite==0.19.0
httpx==0.25.2
##Integration
factory-boy==3.3.0
faker==20.1.0